<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9</string>
	<key>CFBundleDisplayName</key>
	<string>Organilog</string>
	<key>CFBundleIdentifier</key>
	<string>com.organilog.v3</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Organilog</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Cette localisation sera enregistrée et envoyée sur l&apos;interface web pour aider les responsables à identifier les intervenants proches d&apos;une intervention à attribuer en urgence</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Cette localisation sera enregistrée et envoyée sur l&apos;interface web pour aider les responsables à identifier les intervenants proches d&apos;une intervention à attribuer en urgence</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cette localisation sera enregistrée et envoyée sur l&apos;interface web pour aider les responsables à identifier les intervenants proches d&apos;une intervention à attribuer en urgence</string>
	<key>NSMotionUsageDescription</key>
	<string>CHANGEME: Motion updates increase battery efficiency by intelligently toggling location-services when device is detected to be moving</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>used to select photo from library</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>organilog.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Custom Property</key>
	<string></string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>la caméra est nécessaire pour scanner un QR code</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>2.7</string>
	<key>CFBundleVersion</key>
	<string>3</string>
</dict>
</plist>
